
<!DOCTYPE html>
<body>

  <h1>Create a Team and Heroes!</h1>

  <form action="/teams" method="POST">


    <label for="team[name]">Team Name:</label>
    <p><input type="text" name="team[name]"></p>

    <label for="team[motto]">Motto:</label>
    <p><input type="text" name="team[motto]"></p>

    <h2>Hero 1</h2>
    <label for="team[heros][][name]">Hero's Name:</label>
    <p><input id="member1_name" type="text" name="team[heros][][name]" value=""></p>

    <label for="team[heros][][power]">Hero's Power:</label>
    <p><input id="member1_power"type="text" name="team[heros][][power]" value=""></p>

    <label for="team[heros][][bio]">Hero's Bio:</label>
    <p><input id="member1_bio"type="text" name="team[heros][][bio]" value=""></p>

    <h2>Hero 2</h2>
    <label for="team[heros][][name]">Hero's Name:</label>
    <p><input id="member2_name" type="text" name="team[heros][][name]" value=""></p>

    <label for="team[heros][][power]">Hero's Power:</label>
    <p><input id="member2_power"type="text" name="team[heros][][power]" value=""></p>

    <label for="team[heros][][bio]">Hero's Bio:</label>
    <p><input id="member2_bio"type="text" name="team[heros][][bio]" value=""></p>

    <h2>Hero 3</h2>
    <label for="team[heros][][name]">Hero's Name:</label>
    <p><input id="member3_name" type="text" name="team[heros][][name]" value=""></p>

    <label for="team[heros][][power]">Hero's Power:</label>
    <p><input id="member3_power"type="text" name="team[heros][][power]" value=""></p>

    <label for="team[heros][][bio]">Hero's Bio:</label>
    <p><input id="member3_bio"type="text" name="team[heros][][bio]" value=""></p>



    <input type="submit" name="submit" value="submit">
  </form>
</body>
</html>